apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app-green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-app
      version: green
  template:
    metadata:
      labels:
        app: node-app
        version: green
    spec:
      containers:
        - name: node-app
          image: jubaerhosain/k8s-zero-downtime:v2
          ports:
            - containerPort: 3000
          env:
            - name: APP_VERSION
              value: "v2"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
