apiVersion: v1
kind: Service
metadata:
  name: node-app-service
spec:
  type: NodePort
  selector:
    app: node-app
    version: blue   # initially route to blue
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30080
